#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    height: 19rem;
    border-radius: 0.313rem;
    width: 42rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2e2e2e;
}

@media screen and (max-width: 50em) {
    .swiper {
        width: 30rem;
        height: 14rem;
    }
}
@media screen and (max-width: 37.5em) {
    .swiper {
        width: 20rem;
        height: 10rem;
    }
}

.swiper-slide span {
    display: block;
    cursor: pointer;
    object-fit: contain;
}
.swiper-slide div {
    bottom: 1.25rem;
    left: 50px;
    mix-blend-mode: difference;
    font-size: 1.25rem;
    position: absolute;
}
.swiper-slide p {
    top: 200px;
    left: 50px;
    mix-blend-mode: difference;
    font-size: 1.25rem;
    position: absolute;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
