#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 700px;
    height: 300px;
    border-radius: 5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2e2e2e;
}

.swiper-slide span {
    display: block;
    cursor: pointer;
    object-fit: contain;
}
.swiper-slide div {
    bottom: 20px;
    left: 50px;
    mix-blend-mode: difference;
    font-size: 20px;
    position: absolute;
}
.swiper-slide p {
    top: 200px;
    left: 50px;
    mix-blend-mode: difference;
    font-size: 20px;
    position: absolute;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
